:root {
  --color-primary: #0078aa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.tac {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  text-transform: uppercase;
}

.descr {
  font-size: 14px;
  line-height: 18px;
}

.column {
  display: flex;
  flex-direction: column;
}

.arrow {
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  right: 15px;
  bottom: 15px;
  background-color: #fff;
}

.arrow:hover path {
  fill: #fff;
}

.arrow:hover {
  background-color: var(--color-primary);
}

.header_wrapper {
  padding: 15px 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.header_links {
  display: flex;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
}

.header_link {
  font-size: 14px;
  color: #363636;
  font-weight: 700;
  text-decoration-line: none;
}

.header_link:hover {
  color: var(--color-primary);
}

.preview {
  margin-top: 65px;
  padding-top: 185px;
  padding-bottom: 130px;
  background: url(../img/lady.jpg) no-repeat;
  background-size: auto 100%;
  background-position: right;
}

.preview_column {
  gap: 14px;
  width: 500px;
}

.preview_title {
  font-size: 40px;
  line-height: 54px;
}

.preview_text {
  font-size: 16px;
  color: grey;
  line-height: 22px;
}

.preview_images {
  display: flex;
  gap: 22px;
}

.preview_image {
  background: var(--color-primary);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid var(--color-primary);
}

.preview_image:hover {
  background: #fff;
}

.preview_image:hover svg path {
  fill: var(--color-primary);
}

.about {
  padding: 128px 305px 150px 0;
  background: url(../img/tools.png) no-repeat;
  background-position-y: center;
}

.about_column {
  width: 400px;
  margin-left: auto;
}

.about_descr {
  margin-top: 17px;
}

.about_subtitle {
  color: var(--color-primary);
}

.about_descr_title {
  font-size: 16px;
}

.about_descr_title span {
  color: var(--color-primary);
  font-size: 14px;
}

.services {
  padding: 60px 0 60px 0;
  background: url(../img/services_bg.jpg);
}

.services_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin-top: 20px;
}

.services_card {
  width: 370px;
  padding: 0 25px 25px 25px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services_img {
  margin-top: 15px;
}

.pricing {
  padding-top: 70px;
  background: url(../img/pricing_bg.jpg) no-repeat center;
  background-size: 80%;
}

.pricing_subtitle {
  text-transform: uppercase;
  line-height: 14px;
}

.pricing_offers {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 60px;
}

.pricing_column {
  padding: 47px 0 30px 0;
  background-color: #47C9E5;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}

.pricing_column_middle {
  background-color: #fff;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-width: 1px 2px 2px 1px;
  padding: 80px 0;
}

.pricing_column_title {
  font-size: 24px;
}

.pricing_price {
  font-size: 58px;
}

.pricing_treatments {
  font-style: italic;
}

.pricing_list {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pricing_list_item {
  font-size: 12px;
}

.pricing_list_item span {
  font-size: 40px;
  line-height: 6px;
  display: flex;
  justify-content: center;
}

.pricing_button {
  width: 115px;
  height: 45px;
  margin: 25px auto 0 auto;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  background: #fff;
}

.contact {
  padding: 0 30px;
}

.contact_wrapper {
  display: flex;
}

.contact_right {
  width: 50%;
  margin-top: 85px;
  margin-left: auto;
  padding-left: 30px;
}

.contact_form {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_input {
  width: 100%;
  border: solid grey;
  border-width: 0 0 1px 0;
  padding: 8px;
}

.contact_input::placeholder {
  font-style: italic;
  font-size: 10px;
}

.contact_button {
  width: 90px;
  height: 40px;
  background-color: var(--color-primary);
  color: #fff;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  font-size: 12px;
}

.contact_button:hover {
  background-color: inherit;
  color: var(--color-primary);
}

.footer {
  background: #363636;
  color: #fff;
  padding: 22px 0;
  text-align: center;
}

/* 1280px - 768px */
@media (min-width: 768px) and (max-width: 1280px) {
  .container {
    width: 740px;
  }

  .header_wrapper {
    padding: 15px 80px 15px 15px;
  }

  .preview {
    background-position-x: 35%;
  }

  .about {
    padding: 55px 80px 130px 0px;
    background-size: 50%
  }

  .about_column {
    width: 330px;
  }

  .services {
    padding-top: 0px;
  }

  .services_cards {
    gap: 25px;
  }

  .services_card {
    width: 230px;
  }

  .pricing {
    padding-top: 20px;
  }

  .pricing_offers {
    margin-top: 22px;
  }

  .pricing_column {
    padding-top: 25px;
  }

  .pricing_column_middle {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .pricing_button {
    margin-top: 40px;
  }

  .contact {
    padding: 0px 20px 0 0;
  }

  .contact_right {
    margin-top: 22px;
    width: 330px;
    padding-left: 5px;
  }

  .contact_form {
    margin-top: 10px;
    gap: 10px
  }

  .contact_img {
    width: 50%;
  }

  .contact_img img {
    height: 510px;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .container {
    width: 390px;
  }

  .header_wrapper {
    padding: 15px 5px;
    gap: 10px;
    flex-direction: column;
  }

  .header_links {
    gap: 10px;
  }

  .preview {
    padding-top: 135px;
    text-align: center;
    background-position-x: 40%;
  }

  .preview_title {
    padding: 0 20px;
  }

  .preview_images {
    justify-content: space-evenly;
  }

  .preview_column {
    width: 100%;
  }

  .about {
    padding: 135px 0 15px 0;
    text-align: center;
    background: none;
  }

  .services {
    padding-bottom: 30px;
  }

  .pricing {
    padding-top: 0;
  }

  .pricing_offers {
    margin-top: 0;
    flex-direction: column;
  }

  .pricing_column {
    width: 100%;
    margin-top: 20px;
  }

  .pricing_column_middle {
    padding: 40px 0 30px 0;
  }

  .contact_wrapper {
    flex-direction: column;
  }

  .contact_right {
    width: 100%;
    margin-left: unset;
    margin-top: 30px;
    padding-left: 0;
    text-align: center;
  }

  .contact_form {
    gap: 10px;
    margin-top: 15px;
  }

  .contact_button {
    margin-top: 20px;
    margin: 0 auto;
  }

  .footer {
    margin-top: 20px;
  }
}