body {
  padding: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 100%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button-group {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}