form {
  background-color: #F2F2F2;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
}

input[type=text]:focus {
  background-color: lightblue;
}

label {
  font-size: 20px;
}

label:not(:first-of-type) {
  margin-top: 30px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 15px 30px;
  background-color: #4CAF50;
  font-size: 18px;
  color: #FFF;
  border: none;
}

button:hover {
  background-color: #45a049;
}