* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font: italic small-caps bold 16px/2 cursive;
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-auto-rows: 100px;
  background: lightblue;
  padding: 10px;
  border-radius: 8px;
  margin: 30px auto 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 10px;
}

.box {
  display: flex;
  justify-content: center;
  border: 2px solid lightpink;
  background: white;
  border-radius: 3px;
  font-size: 30px;
  line-height: 90px;

  &:hover {
    background: lightyellow;
    transition: 0.2s ease-in;
  }
}

.reset {
  background: lightblue;
  padding: 8px 15px;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 1em;
  font-family: inherit;
  outline: none;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  &:active {
    background: lightskyblue;
  }
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.result-row {
  margin: 0;
  display: block;
  font-size: 18px;
  line-height: 50px;

  & + .result-row {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid black;
  }

  span {
    font-size: 20px;
    font-weight: 700;
    color: blue;
  }
}
