﻿* {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.fs-60 {
  font-size: 60px;
}

.fs-50 {
  font-size: 50px;
}

.fs-40 {
  font-size: 40px;
}

.fs-30 {
  font-size: 30px;
}

.fs-26 {
  font-size: 26px;
}

.fs-20 {
  font-size: 20px;
}

.fs-12 {
  font-size: 10px;
}

.w-115px {
  width: 115px;
}

.w-75px {
  width: 75px;
}

.w-45px {
  width: 45px;
}

.btn-gradient {
  background-image: url("../img/touch-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
}

.preview {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: -220px;
  z-index: 100;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.reference-bg::before {
  position: absolute;
  content: '';
  background-image: url('../img/references-image-bg.png');
  bottom: -20px;
  left: -15px;
  width: 200px;
  height: 200px;
  z-index: -1;
}

.prev-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  left: -100px;
}

.next-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: -100px;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #62436F;
}

.circle-active {
  opacity: .5;
}

.bg-custom-dark {
  background-color: #000000;
}

.bg-custom-header {
  background-image: url('../img/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90px;
  z-index: 1;
  position: sticky;
  top: 0;
}

.bg-custom-footer {
  background-image: url('../img/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
