body {
    font-family: 'Roboto', sans-serif;
}

.fz-42 {
    font-size: 42px;
}

.fz-46 {
    font-size: 46px;   
}

.fz-22 {
    font-size: 22px;
}

.bg-coral {
    background-color: coral;
}

.border-coral {
    border-color: lightcoral;
}

.bg-dark {
    background-color: #111;
}

.text-white {
    color: white;
}