*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.form-group {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
}

.header-title {
  margin-top: 40px;
}

.header-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#plug {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

.table img {
  margin: 0 auto;
}

.arrow {
  color: yellow;
  cursor: pointer;
  font-size: 24px;
  background-color: inherit;
  border: none;
}