/* START: Task 1 Styles */
body {
  font-family: sans-serif;
}
.table {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  justify-content: center;
  gap: 2px;
  margin: 0 auto;
  box-sizing: content-box;
  width: 300px;
}

.cell {
  border: 1px solid #333;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
.form-wrapper {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.form {
  position: relative;
}

.form-input {
  width: 250px;
  padding-left: 10px;
  border: 2px solid #333;
  height: 45px;
  box-sizing: border-box;
}

.form-input::placeholder {
  font-size: 10px;
}

.valid {
  border: 2px solid green;
}

.invalid {
  border: 2px solid red;
}

.form-button {
  height: 45px;
}

.validation-massage {
  padding: 20px 10px;
  font-weight: 500;
  max-width: 300px;
  margin-bottom: 20px;
  position: absolute;
  top: -90px;
}

.invalid-massage-box {
  background-color: #F1B3B3;
  border: 2px solid red;
}

.valid-massage-box {
  background-color: #66a266;
  border: 2px solid green;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
.court-wrapper {
  margin: 0 auto;
  width: 50%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.court {
  width: 600px;
  height: 330px;
  object-fit: cover;
}

.match {
  position: relative;
}

.ball {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.scores {
  width: 600px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
}

.goalB-zone, .goalA-zone {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-65%);
}

.goalA-zone {
  left: 27px;
}

.goalB-zone {
  right: 27px;
}

.goal-message-box {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  height: 18px;
  margin-bottom: 50px;
}
/* END: Task 3 Styles */
