*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

$font-sizes: (
  "tiny": 10px, 
  "small": 12px, 
  "basic": 16px, 
  "normal": 18px, 
  "large": 24px
);

%common-font {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-weight: 600;
}

@mixin button {
  @extend %common-font;
  background: $btn-color;
  font-size: map-get($font-sizes, "normal");
  width: 143px;
  height: 47px;
  border: none;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
}

@mixin mark {
  position: absolute;
  content: '';
  background-color: $sub-color;
  transform: translateZ(-1px);
}

@mixin logo {
  display: flex;
  align-items: center;

  img {
    height: 45px;
  }

  p {
    position: relative;
    left: 13px;
    text-align: center;
    font-size: map-get($font-sizes, "large");
    font-weight: 600;
    line-height: 22px;

    span {
      display: block;
      font-size: map-get($font-sizes, "tiny");;
    }
  }
}

@mixin link {
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: $bg-section;
  font-family: $font;
}

.header {
  background: $bg-img no-repeat center;
  background-size: cover;
  border-radius: 0 0 40% 0;

  &-wrap {
    color: $header-text-color;
    padding-left: 190px;
    padding-top: 23px;
    height: 713px;
  }

  .landing-logo {
    @include logo;
    color: #ffffff;
  }

  &_heading {
    transform-style: preserve-3d;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-top: 66px;
    width: 600px;
    line-height: 76px;
    letter-spacing: 1.8px;
    position: relative;
    &::before {
      @include mark;
      top: 98px;
      width: 305px;
      height: 48px;
    }
  }

  &_text {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    margin-top: 26px;
    width: 700px;
    line-height: map-get($font-sizes, "large");;
    white-space: pre-line;
    font-size: map-get($font-sizes, "basic");;
  }

  &_button {
    @include button;
    margin-top: 59px;
  }

  .login {
    @include link;
    color: #ffffff;
    margin-left: 144px;
    font-size: 20px;
  }
}

.section {
  padding-top: 31px;

  &_text {
    font-family: 'Source Sans Pro', sans-serif;
    transform-style: preserve-3d;
    text-align: center;
    font-weight: 600;
    font-size: 42px;
    color: $header-text-color;

    &::after {
      @include mark;
      width: 190px;
      height: 50px;
      right: 39.7%;
    }
  }

  &_card_wrap {
    margin: 30px auto 0 auto;
    width: 1110px;
  }

  &_link {
    @include link;
    color: $text-card-color;
    margin-top: 25px;
  }

  &_card {
    margin-top: 30px;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-card-color;

    &_img {
      display: block;
      width: 900px;
      height: auto;
      border-radius: 5px;
    }

    &_right_container {
      height: 180px;
      text-align: center;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
    }

    &_heading {
      @extend %common-font;
      font-size: map-get($font-sizes, "large");;
    }

    &_text {
      width: 73%;
      margin-top: 28px;
      color: $text-card-color;
      font-weight: 400;
      text-align: left;
    }
  }

  &_banner {
    width: 1190px;
    margin: 65px auto 0 auto;
    background: $bg-banner;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 25px 160px 42px 162px;
    position: relative;
    transform: translateY(50%);

    &_text_wrap {
      display: flex;
      flex-flow: column;
      text-align: left;
    }

    &_heading {
      transform-style: preserve-3d;
      font-size: 30px;
      font-weight: 700;
      color: $header-text-color;
      font-family: 'Hind', sans-serif;
      &::before {
        @include mark;
        width: 64px;
        height: 50px;
        bottom: 5px;
        left: 122px;
      }
    }

    &_button {
      @include button;
      margin-top: 25px;
    }

    &_text {
      color: $text-card-color;
      margin-top: map-get($font-sizes, "tiny");;
    }
  }
}

.footer {
  width: 100%;
  padding: 125px 172px 115px 191px;
  background-color: $bg-card-color;

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-card-color;
  }

  &_logo {
    @include logo;
  }

  &_text {
    width: 300px;
    font-size: 14px;
  }
}