$bg-section: #ffffff;
$sub-color: #14A0C7;
$btn-color: #699900;
$bg-card-color: #21232e;
$text-card-color: #b3b6c4;
$footer-color: #595A62;
$header-text-color: #2c2f3c;
$bg-banner: linear-gradient(90deg, rgba(101,148,15,1) 0%, rgba(44,90,222,1) 100%);
$bg-img: url('../img/m-h-day.jpg');
$font: 'Source Sans Pro', sans-serif;