$bg-section: #21232e;
$sub-color: #FF4E33;
$btn-color: #e3ac00;
$bg-card-color: #3b3f50;
$text-card-color: #d1d1d1;
$footer-color: #3b3f50;
$header-text-color: #ffffff;
$bg-banner: linear-gradient(90deg, rgba(221,162,6,1) 0%, rgba(149,48,80,1) 100%);
$bg-img: url('../img/m-h-night.jpg');
$font: 'Fresca', sans-serif;