:root {
  --main-color: #87CEFA;
}

.flex-2-col {
  display: flex;
}

.flex-2-col .tm-section-description {
  text-indent: 1.5em;
  text-align: justify;
  line-height: 35px;
}

.flex-2-col .tm-section-description:nth-child(3) {
  font-weight: 500;
}

.padding-medium.tm-team-description-container.flex-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

p:not(.tm-banner-text)::first-letter {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 300;
}

.tm-banner-inner {
  outline: solid 30px #f4f4f4;
}

.tm-content-box,
.tm-sidebar {
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75)
}

section::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 280px 0 0;
  border-color: var(--main-color) transparent transparent transparent;
}

.carousel-content .tm-section-title {
  color: gainsboro;
  letter-spacing: 5px;
}

h2+p {
  font-style: italic;
}

.heading li a:hover {
  border: none;
  text-decoration-line: underline;
  text-decoration-style: double;
  color: var(--main-color);
}

.heading li a {
  color: #000000;
  border-bottom: 1px solid;
  border-bottom-color: #ffffff;
}

.heading li a:visited {
  border-bottom-color: #000000;
}

.text::after {
  position: absolute;
  content: "New";
  font-size: 10px;
  color: #ff0000;
}

.gallery-container .box:hover .tm-section-title {
  background-color: var(--main-color);
  color: #ffffff;
}

.blocks .tm-content-box {
  background-color: #f5f5f5;
}

.boxes .box-work {
  padding: 10px;
  background-color: transparent;
}

.boxes .box.box-work:nth-child(2n+1) {
  background-color: #ffffff;
}

.boxes .box p::first-letter {
  color: unset;
}

.submit-btn {
  background: transparent;
  color: var(--main-color);
  border-radius: 0;
  border: 1px solid var(--main-color);
  padding: 12px 50px;
  display: block;
  margin-left: auto;
  transition: all .3s ease;
}

.submit-btn:hover {
  background: var(--main-color);
  color: #ffffff;
  border: 1px solid var(--main-color);
}

.mandatory-field::after {
  content: " *";
  position: absolute;
  color: #ff0000;
  font-size: 20px;
  font-weight: 500;
}

.tm-nav-item-link:hover {
  background-color: #f5f5f5
}

@media print {
  .tm-sidebar,
  .heading,
  .blocks,
  .carousel,
  section.tm-content-box,
  .boxes,
  section::before {
    display: none;
  }

  h2.tm-section-title {
    color: #042aff;
  }

  .tm-banner {
    padding: 0;
  }

  .flex-2-col {
    align-items: center;
  }

  .flex-item:nth-child(2) {
    width: 40%;
  }

  .tm-main-content {
    padding: 0 12%;
    margin-top: 100px;
  }

  .tm-content-box {
    padding: 0;
    margin: 0;
  }

  .flex-2-col .tm-team-description-container .tm-section-description:nth-child(3) {
    font-weight: 300;
  }
}