* {
  line-height: 1;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0 0 5vh;
}

.title {
  padding: 4vh 0;
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-size: max(20px, 1.8vw);
}

.calendar {
  margin: 5vh auto 0;
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 125px));
  grid-template-rows: 50px;
  grid-auto-rows: max(125px, 5vw);
  justify-content: center;
  gap: 15px;
  text-align: center;
}

.cell-header {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: max(20px, 1.2vw);
}

.cell {
  display: grid;
  align-content: center;
  background-color: #EAEAEA;
  font-size: max(16px, 1vw);
}

.cell:nth-child(-n+11) {
  background-color: inherit;
  border: 1px solid #EAEAEA;
}