/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.text-white {
  color: #FFF;
}

.fz-14 {
  font-size: 14px;
}

.preview {
  background: url("../img/apples.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.preview_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 55px 0 150px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation_links {
  width: 440px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.navigation_link {
  text-decoration: none;
}

.logo_link {
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.preview_title {
  font-size: 46px;
  letter-spacing: 7px;
  font-weight: 400;
}

.preview_title span {
  font-size: 86px;
}

.preview_subtitle {
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
}

.preview_button {
  display: block;
  padding: 15px 80px;
  background: rgba(0, 0, 0, .5);
  box-shadow: none;
  border: 3px solid #FFF;
}

.descr {
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 11%;
  padding: 175px 0;
}

.descr_left {
  font-size: 30px;
}

.descr_right {
  font-size: 18px;
}

.descr_title {
  font-size: 24px;
  font-weight: 400;
}

.bg-grey {
  background-color: #F3F3F3;
}

.content {
  padding: 190px 0 65px 0px;
}

.cards_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards_title {
  font-weight: 400;
}

.card {
  margin-top: 20px;
  display: grid;
  column-gap: 30px;
}

.card:first-of-type {
  margin-top: 120px;
}

.card:nth-child(2n) {
  grid-template-columns: 60% 1fr;
}

.card:nth-child(2n+1) {
  grid-template-columns: 1fr 60%;
}

.card_descr {
  text-align: center;
  display: flex;
  align-items: center;
}

.card_img {
  position: relative;
}

.card_img img {
  width: 100%;
  object-fit: cover;
}

.card_img_descr {
  position: absolute;
  bottom: 30px;
  left: 25px;
  font-size: 18px;
  z-index: 10;
}

.card_likes {
  background: rgba(0, 0, 0, .5);
  border: 3px solid #FFF;
  line-height: 36px;
  padding: 0 12px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
}

.bg-fon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}

.section-form {
  margin-top: 65px;
  display: grid;
  grid-template-columns: 25% 1fr 125px;
  padding: 32px 58px;
  background-color: #FFF;
}

.section-form_label {
  font-size: 22px;
  display: flex;
  align-items: center;
}

.section-form_input {
  width: 100%;
  padding: 29px;
  position: relative;
  border-radius: unset;
}

.section-form_button {
  padding: 25px 30px;
  background-color: #343638;
  border: 1px solid #000;
  box-shadow: none;
}

.footer_wrapper {
  padding: 150px 0 22px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer_left {
  display: flex;
  gap: 40px;
  width: 64%;
}

.footer_column {
  width: 345px;
}

.footer_title {
  font-size: 16px;
  font-weight: 700;
}

.footer_descr {
  color: #9E9E9E;
  font-size: 12px;
  margin-top: 35px;
}

.footer_date {
  color: #E8E8E8;
  font-size: 12px;
}

.footer_input {
  padding: 12px 0 12px 14px;
  position: relative;
  font-size: 12px;
}

.footer_button {
  padding: 12px 14px;
}

.footer_form {
  margin-top: 10px;
  display: flex;
}

.footer_nav {
  margin-top: 140px;
  color: #9E9E9E;
}

.footer_nav hr {
  display: block;
  border: 0;
  border-top: 3px solid #E8E8E8;
  padding: 0;
}

.footer_nav_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.footer_nav_links {
  width: 310px;
  display: flex;
  justify-content: space-between;
}

.footer_nav_link {
  color: #000;
  text-decoration-line: none;
}