* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
  --color-blue: #76CDD8;
  --color-green: #019999;
  --color-text: #6B6B6B;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #F4F4F4;
}

section {
  background-color: #FFFFFF;
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-green {
  background-color: var(--color-green);
}

.ml-auto {
  margin-left: auto;
}

.pos-relative {
  position: relative;
}

.m-center {
  display: block;
  margin: 0 auto;
}

.subtitle {
  color: var(--color-blue);
  font-size: 26px;
  font-weight: 600;
}

.img-scale-hover {
  transition: transform .2s ease;
}

.img-scale-hover:hover {
  transform: scale(1.1);
}

.button {
  background-color: var(--color-green);
  padding: 18px 45px;
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
  transition: background-color .2s;
}

.container {
  width: 1200px;
  margin: 30px auto 0 auto;
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.services-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 0 60px;
  flex-basis: 50%;
}

.services-block-hover::before {
  display: none;
  position: absolute;
  content: '';
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.services-block-hover:hover .text,
.services-block-hover:hover .services-quote {
  color: #76cdd8;
}

.right-triangle:hover::before {
  display: block;
  right: 0;
  border-color: transparent #76cdd8 transparent transparent;
  border-width: 0 100px 100px 0;
}

.left-triangle:hover::before {
  display: block;
  left: 0;
  border-color: #76cdd8 transparent transparent transparent;
  border-width: 100px 100px 0 0;
}


.logo {
  font-size: 62px;
  color: #FFFFFF;
}

.services-quote {
  color: var(--color-text);
  font-size: 22px;
  font-weight: normal;
  line-height: 36px;
  font-style: italic;
  transition: color .2s ease;
}

.text {
  color: var(--color-text);
  line-height: 30px;
  margin-top: 20px;
  font-weight: 500;
  transition: color .2s ease;
}

.services-figure {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-img-games {
  border-radius: 100%;
  max-height: 300px;
  display: block;
}

.games-descr {
  color: #FFFFFF;
  margin: 30px 0 0;
  font-size: 14px;
}

.services-img-payment {
  background-image: url(../img/image-01.jpg);
  background-size: cover;
  background-position: center;
}

.services-subtitle {
  color: var(--color-text);
  font-size: 30px;
}

.services-link {
  color: #027BFF;
}

.services-button {
  margin-top: 30px;
}

.services-button:hover {
  background-color: rgb(118, 205, 216); 
}

.forest {
  margin-top: 30px;
  display: flex;
}

.forest-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 65px;
}

.forest-img {
  height: 570px;
  object-fit: contain;
}

.forest-button {
  margin-top: 20px;
  transition: background-color .2s ease;
}

.forest-button:hover {
  background-color: rgb(118, 205, 216);
}

.offers {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 30px 0 0;
}

.offers-card {
  transition: box-shadow .2s;
}

.offers-button:hover {
  background: #24d4d4
}

.discount {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  color: #24d4d4;
  text-align: center;
  transition: opacity .2s;
}

.discount::before {
  position: absolute;
  content: '*';
  color: red;
  transform: translateX(-15px);
}

.offers-card:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.offers-card-advanced:hover .discount {
  opacity: 1;
}

.offers-title {
  font-size: 26px;
  line-height: 50px;
}

.offers-img {
  height: 100%;
}

.offers-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 420px;
  border: 1px solid var(--color-green);
}

.offers-card-main {
  padding: 25px 0;
  background-color: var(--color-green);
  color: #FFFFFF;
  text-align: center;
}

.offers-card-list {
  padding: 0 50px;
}

.offers-card-list li + li {
  margin-top: 30px;
}

.form-header {
  margin-top: 30px;
  padding: 40px 160px 85px;
  background-color: #23D4D4;
}

.form-header-title {
  color: #FFFFFF;
  font-size: 30px;
  text-transform: capitalize;
}

.form-wrapper {
  position: relative;
  padding: 0 160px;
  min-height: 400px;
  background-color: #F4F4F4;
}

.form {
  position: absolute;
  padding: 65px 80px;
  background-color: #FFFFFF;
  z-index: 1;
  top: -50px;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
}

.form-inputs-left {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 12px 15px;
  min-width: 340px;
}

.input + .input {
  margin-top: 20px;
}

.input-focus:focus {
  outline: none;
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form-input {
  border: 1px solid #F4F4F4;
}

.form-select {
  border: 1px solid grey;
}

.form-textarea {
  padding: 10px;
  margin-left: 30px;
  resize: vertical;
}

.form-button {
  margin-top: 40px;
}

.form-button:hover {
  background-color: rgb(118, 205, 216)
}

.form-links {
  display: flex;
  justify-content: space-around;
  padding: 100px 0 65px;
  background-color: var(--color-green);
  color: #FFFFFF;
}

.form-links-title {
  font-size: 24px;
}

.form-links li {
  font-weight: 300;
  margin-top: 15px;
}

.form-links-right li:first-child {
  margin-top: 0;
}

.rights {
  text-align: center;
  padding: 30px 0;
}