body {
  font-family: sans-serif;
  background-color: AliceBlue;
}

ul, li {
  margin: 20px;
  padding: 0;
}

textarea {
  resize: vertical;
  font-size: 18px;
  width: 600px;
	min-height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
  font-family: Tahoma, sans-serif;
  box-shadow: 2px 2px 6px #333;
}

.listPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modifyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formButtons {
  margin-top: 20px;
}

#modifyItem.hidden {
  display: none;
}

#alertMessage.hidden {
  display: none;
}

#alertMessage {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.error {
  background-color: lightcoral;
}

.success {
  background-color: green;
}

button {
  display: inline-block;
  padding: 0.7em 1.5em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  position: relative;
}

.deleteBtn {
  background-color: #A9A9A9;
}

.likeBtn {
  background-color: #FF1493;
}

button:hover {
  background-color: blue;
} 

.deleteBtn:hover {
  background-color: #696969;
}

.likeBtn:hover {
  background-color: #B22222;
}

button:active {
  top: 0.1em;
}

.listItem {
  min-width: 320px;
  padding: 10px 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 2px solid lightcyan;
  list-style: none;
}

.listItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.listItem div {
  min-width: 30%;
  padding-left: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 45px;
}

.itemLiked {
  background-color: #FFB6C1;
  border-color: #DB7093;
}