*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

.header_button, .section_card_heading, .section_banner_button {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-weight: 600;
}

body {
  background-color: #21232e;
  font-family: "Fresca", sans-serif;
}

.header {
  background: url("../img/m-h-night.jpg") no-repeat center;
  background-size: cover;
  border-radius: 0 0 40% 0;
}
.header-wrap {
  color: #ffffff;
  padding-left: 190px;
  padding-top: 23px;
  height: 713px;
}
.header .landing-logo {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.header .landing-logo img {
  height: 45px;
}
.header .landing-logo p {
  position: relative;
  left: 13px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
}
.header .landing-logo p span {
  display: block;
  font-size: 10px;
}
.header_heading {
  transform-style: preserve-3d;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 70px;
  margin-top: 66px;
  width: 600px;
  line-height: 76px;
  letter-spacing: 1.8px;
  position: relative;
}
.header_heading::before {
  position: absolute;
  content: '';
  background-color: #FF4E33;
  transform: translateZ(-1px);
  top: 98px;
  width: 305px;
  height: 48px;
}
.header_text {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  margin-top: 26px;
  width: 700px;
  line-height: 24px;
  white-space: pre-line;
  font-size: 16px;
}
.header_button {
  background: #e3ac00;
  font-size: 18px;
  width: 143px;
  height: 47px;
  border: none;
  border-radius: 3px;
  margin-top: 59px;
}
.header_button:hover {
  cursor: pointer;
}
.header .login {
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  margin-left: 144px;
  font-size: 20px;
}

.section {
  padding-top: 31px;
}
.section_text {
  font-family: 'Source Sans Pro', sans-serif;
  transform-style: preserve-3d;
  text-align: center;
  font-weight: 600;
  font-size: 42px;
  color: #ffffff;
}
.section_text::after {
  position: absolute;
  content: '';
  background-color: #FF4E33;
  transform: translateZ(-1px);
  width: 190px;
  height: 50px;
  right: 39.7%;
}
.section_card_wrap {
  margin: 30px auto 0 auto;
  width: 1110px;
}
.section_link {
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  color: #d1d1d1;
  margin-top: 25px;
}
.section_card {
  margin-top: 30px;
  padding: 20px 0px 20px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b3f50;
}
.section_card_img {
  display: block;
  width: 900px;
  height: auto;
  border-radius: 5px;
}
.section_card_right_container {
  height: 180px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.section_card_heading {
  font-size: 24px;
}
.section_card_text {
  width: 73%;
  margin-top: 28px;
  color: #d1d1d1;
  font-weight: 400;
  text-align: left;
}
.section_banner {
  width: 1190px;
  margin: 65px auto 0 auto;
  background: linear-gradient(90deg, #dda206 0%, #953050 100%);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 25px 160px 42px 162px;
  position: relative;
  transform: translateY(50%);
}
.section_banner_text_wrap {
  display: flex;
  flex-flow: column;
  text-align: left;
}
.section_banner_heading {
  transform-style: preserve-3d;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Hind', sans-serif;
}
.section_banner_heading::before {
  position: absolute;
  content: '';
  background-color: #FF4E33;
  transform: translateZ(-1px);
  width: 64px;
  height: 50px;
  bottom: 5px;
  left: 122px;
}
.section_banner_button {
  background: #e3ac00;
  font-size: 18px;
  width: 143px;
  height: 47px;
  border: none;
  border-radius: 3px;
  margin-top: 25px;
}
.section_banner_button:hover {
  cursor: pointer;
}
.section_banner_text {
  color: #d1d1d1;
  margin-top: 10px;
}

.footer {
  width: 100%;
  padding: 125px 172px 115px 191px;
  background-color: #3b3f50;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d1d1d1;
}
.footer_logo {
  display: flex;
  align-items: center;
}
.footer_logo img {
  height: 45px;
}
.footer_logo p {
  position: relative;
  left: 13px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
}
.footer_logo p span {
  display: block;
  font-size: 10px;
}
.footer_text {
  width: 300px;
  font-size: 14px;
}
